/*专栏列表索引*/
.project_brief{width: 100%;background: #f3f3f3;padding-bottom: 60px;}
.small_navigation h5{float: left;margin-right: 5px;padding: 10px 0;}
.small_navigation a{color: #333333;}
.present{color: #3899d3;}
.brief_bt h3{color: #333333;margin-top: 10px;}

/*移民项目开始*/
.immigrant_tag{margin-bottom: 10px;margin-top: 10px;color: #333333;height: 32px;}
.immigrant_tag ul{height: 32px;}
.immigrant_tag ul li{float: left;margin-bottom: 12px;/*width: 90px;*/height: 32px;margin-right: 12px;padding: 0 15px;
text-align: center;line-height: 32px;cursor: pointer;}
.immigrant_tag ul li:hover{background: #3899d3;color: white;
border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;
-ms-border-radius: 8px;-o-border-radius: 8px;}

.immigrant_content{margin: 0;}
.investment_immigrant .immigrant_content_lists{display: none;}
.investment_immigrant .immigrant_content_lists:nth-of-type(1),.investment_immigrant .immigrant_content_lists:nth-of-type(2){display: block;}

.skilled_migration .immigrant_content_lists{display: none;}
.skilled_migration .immigrant_content_lists:nth-of-type(1),.skilled_migration .immigrant_content_lists:nth-of-type(2){display: block;}

.entrepreneurship_immigrant .immigrant_content_lists{display: none;}
.entrepreneurship_immigrant .immigrant_content_lists:nth-of-type(1),.entrepreneurship_immigrant .immigrant_content_lists:nth-of-type(2){display: block;}
.immigrant_content_lists{margin: 0;}
.immigrant_content_lists_title{margin-bottom: 10px;}
.immigrant_content_lists_title h4 a{color: #3899d3;}
.immigrant_content_lists_title h4 img{float: left;margin-right: 10px;margin-top: 2px;}

.content_tag_essay ul li h5{margin: 0;margin-bottom: 3px;}
.content_tag_essay ul li .row{padding-left: 15px;}
.content_tag_essay ul li .row .col-sm-4{padding: 0;}
.content_tag_essay ul li .row .col-sm-8{padding: 0;}
.content_tag_essay ul li .row .col-sm-8 h5{color: #333333;}
.content_tag_essay ul li .row .col-sm-8 h5{color: #999999;}
.content_tag_essay ul li .row .details_btn{width: 80px;height: 32px;background: #3899d3;color: white;
text-align: center;line-height: 32px;float: left;cursor: pointer;
border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;
-ms-border-radius: 8px;-o-border-radius: 8px;margin-right: 12px;}
.content_tag_essay ul li .row .order_btn{width: 80px;height: 32px;background: #3899d3;color: white;
text-align: center;line-height: 32px;float: left;cursor: pointer;
border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;
-ms-border-radius: 8px;-o-border-radius: 8px;}

.content_tag_intro ul li{margin-bottom: 3px;}
/*点击获取更多*/
.more_down_up{margin: 0;}
.more_down_up_investment_immigrant{display: none;}
.more_down_up_skilled_migration{display: none;}
.more_down_up_entrepreneurship_immigrant{display: none;}
.more_down_up img{margin-bottom: 12px;cursor: pointer;}
.more_up_investment_immigrant{display: none;}
.more_up_skilled_migration{display: none;}
.more_up_entrepreneurship_immigrant{display: none;}
/*移民项目结束*/

/*移民指南开始*/
.project_text{margin-top: 16px;background: white;border: 1px solid #e0e0e0;padding: 0 22px;}
/*.project_text_body{border: 1px solid #e0e0e0;}*/
/*.project_text_body .col-sm-12{margin-bottom: 18px;}*/
.project_text_body{margin-bottom: 18px;}
.project_text_body .project_text_title{border-bottom:1px solid #e0e0e0;padding:15px 0px;
color: #333333;margin: 0px;}
.project_text_passage img{margin-bottom: 10px;float: left;margin-right: 22px;margin-top: 6px;}
.project_text_passage{padding-bottom: 30px;line-height: 24px;text-align: justify;}

.project_guide{margin-bottom: 0px;}
.guide_tag{margin-bottom: 10px;margin-top: 10px;color: #333333;height: 32px;}
.guide_tag ul{height: 32px;}
.guide_tag ul li{float: left;margin-bottom: 12px;/*width: 68px;*/height: 32px;margin-right: 12px;padding: 0 15px;
text-align: center;line-height: 32px;cursor: pointer;}
.guide_tag ul li:hover{background: #3899d3;color: white;
border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;
-ms-border-radius: 8px;-o-border-radius: 8px;}

.content{margin: 0;display:none;}
.content_tag_img img{margin-bottom: 10px;}
.content_tag_essay{padding-bottom: 30px;color: #333333;line-height: 24px;text-align: justify;}
.content_tag_intro{padding-bottom: 0px;}

.active{background: #3899d3;color: white;
border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;
-ms-border-radius: 8px;-o-border-radius: 8px;}
/*移民指南结束*/

/*侧边成功案例开始*/
.project_side{margin-top: 16px;}
.successful_case h4{padding: 9px 0px;color: #333333;}

.project_side{background: white;/*padding-top: 10px;*/border:1px solid #e0e0e0;padding: 12px 14px;}
.project_side ul{margin-top: 16px;}
.project_side ul li{padding: 0px;margin-bottom:14px;}
.project_side ul li a{color: #333333;}
.project_side ul li a:hover{color: #848484;transition: color 120ms linear;transition-property: color;
transition-duration: 120ms;transition-timing-function: linear;
transition-delay: initial;}
.project_side ul li img{float: left;margin-right: 2%;width: 7%;}
.project_side ul li h5{line-height: 22px;}
/*侧边成功案例结束*/

@media (max-width: 767px){
.project_brief{margin-top: 2px;padding-bottom: 0px;}
.brief_bt{margin-top: 10px;}
.project_text_passage{padding-bottom: 20px;}
.project_text{margin-top: 16px;background: white;border: 1px solid #e0e0e0;padding: 0 6px;}
.immigrant_tag ul li{float: left;margin-bottom: 12px;width: 100%;height: 32px;margin-right: 0;
text-align: center;line-height: 32px;cursor: pointer;}
.guide_tag ul li{float: left;margin-bottom: 12px;width: 50%;height: 32px;margin-right: 0;
text-align: center;line-height: 32px;cursor: pointer;padding-left: 0;padding-right: 0;}
.content{float: left;}
.content_tag_img img{width: 100%;}
.immigrant_content{float: left;}
}


/*bootsharp特殊限制开始*/
@media (min-width: 768px){
.small_navigation .col-sm-12{padding-left: 0;}
.brief_bt .col-sm-12{padding-left: 0;}
}
/*bootsharp特殊限制结束*/
/*侧边导航特殊处理*/
.side_consult ul{position: fixed;right: 15px;z-index: 9999;bottom: 60px;}