<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/about_us_e.css"/>
	
	<!--关于我们开始-->
	<section class="about_us_main">
		<div class="container">
			<!--标题以及tag选项卡开始-->
			<div class="row project_introduction">
				<div class="col-sm-4 project_btitle">
					<h2 class="brief_bt">Company Introduction</h2>
				</div>
				<div class="col-sm-4 project_btitle project_contact_us">
					<h2 class="brief_bt">Contact Us</h2>
				</div>
				<div class="col-sm-8 about_us_tag">
					<ul>
						<li><h4>Company Introduction</h4></li>
						<li><h4>Contact Us</h4></li>
					</ul>
				</div>
			</div>
			<!--标题以及tag选项卡结束-->
		</div>
		<!--公司简介开始-->
		<div class="about_us_content">
			<!--图片展示开始-->
			<div class="container about_content_banner">	
				<div class="row about_content">
						<div class="col-sm-12 about_banner_center">
							<!--移动端公司展示-->
							<div class="swiper-container">
						        <div class="swiper-wrapper">
						            <div class="swiper-slide">
						            		<img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/about/png/m_about_banner01.png" alt="" />
						            </div>
						            <div class="swiper-slide">
						            		<img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/about/png/m_about_banner02.png" alt="" />	
						            </div>
						            <div class="swiper-slide">
						            		<img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/about/png/m_about_banner03.png" alt="" />
						            </div>
						        </div>
			        			<!-- Add Pagination -->
			        			<div class="swiper-pagination"></div>
			        			<!--左右箭头-->
			        			<!--<div class="swiper-button-next hidden-xs"></div>
			        			<div class="swiper-button-prev hidden-xs"></div>-->
	    				</div>
	    					
	    					<!--PC端公司展示-->
	    					<div id="myCarousel" class="carousel slide">
						    <!-- 轮播（Carousel）指标 -->
						    <ol class="carousel-indicators">
						        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						        <li data-target="#myCarousel" data-slide-to="1"></li>
						        <li data-target="#myCarousel" data-slide-to="2"></li>
						    </ol>   
						    <!-- 轮播（Carousel）项目 -->
						    <div class="carousel-inner">
						        <div class="item active">	
					            		<!--PC端-->
					            		<img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/about/png/pc_about_banner01.png"/>
						        </div>
						        <div class="item">				           
				            			<!--PC端-->
				            			<img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/about/png/pc_about_banner02.png"/>
						        </div>
						        <div class="item">			            
					            		<!--PC端-->
					            		<img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/about/png/pc_about_banner03.png"/>
						        </div>
						    </div>
						    <!-- 轮播（Carousel）导航 -->
						    <a class="carousel-control left" href="#myCarousel" 
						        data-slide="prev"><!--&lsaquo;-->
						    </a>
						    <a class="carousel-control right" href="#myCarousel" 
						        data-slide="next"><!--&rsaquo;-->
						    </a>
						</div>
	    					
						</div>
				</div>
			</div>
			<!--图片展示结束-->
		
			<div class="container">
				<!--公司文化简介开始-->
				<div class="row culture_introduction">
					<div class="col-sm-12">
						<h3 class="culture_introduction_bt">Company Profile</h3>
						<!--<h6 class="culture_introduction_english">Company profile</h6>-->
						<h5 class="culture_introduction_main">
							 Hyimmi (Shenzhen Hyimmi Overseas Investment Consulting Ltd) has a professional team, abundant experience in immigration,
							 full of youthful spirit on new type Immigration Company. Uphold the integrity of the company, 
							 professional quenching business philosophy, to provide customers with the ultimate customer experience. 
							 The company’s team includes the country’s top lawyers, immigration consultants and project team. 
							 Ten years of grinding sword, Hyimmi already have leadership in the immigration service company. 
							 In the immigration industry gradually flattening、a mere formality of the market environment, 
							 we provide customers with a more vivid、more stereoscopic, more humane immigration services and flexible care. 
							 The vision of the company is to provide the most satisfactory service to all customers.
						</h5>
						<h5 class="culture_introduction_main">
	     				"Global investment and life" is the future trend of development, we have leading customer service for many years, 
	     				specializing in overseas project integration, let the Chinese people consumption out of misunderstanding of "abroad expensive", 
	     				launched the international high quality products for investors to choose. 
	     				At present, Hyimmi Overseas Group has become the trust of the international investment and life brand.
						</h5>
						<h5 class="culture_introduction_main">
							Hyimmi efforts to create “in-house” professional customer experience – Hyimmi’s services are all done by our own team. 
							Hyimmi determined to become the leader in the country's immigration service industry, 
							so that every customer can feel our "home" intentions to change the impression of immigration services. 
							Hyimmi in the spirit of excellence, try our best to provide the best quality of the immigration service for the customer, 
							retain customers in good faith, professional with customers, moving customers with enthusiasm, 
							ensure that all details attention to each customer a different demand.
						</h5>
					</div>
				</div>
				<!--公司文化简介结束-->
				
				<!--发展历程开始-->
				<div class="row development_history">
					<div class="col-sm-12 history_title">
						<h3 class="culture_introduction_bt">Development History</h3>
						<!--<h6 class="culture_introduction_english">development history</h6>-->
					</div>
					<div class="col-sm-12">
						<div class="cd_container">
							<!--说明在左边-->
							<div class="cd_timeline_block">
								<div class="cd_timeline_img"><h3>2008</h3></div>
								<div class="cd_timeline_content">
									<h4>
										Integrity of the legislation, the official establishment of overseas companies in Australia, mainly engaged in skilled migration projects
									</h4>
								</div>
							</div>
							<!--说明在右边-->
							<div class="cd_timeline_block">
								<div class="cd_timeline_img"><h3>2009</h3></div>
								<div class="cd_timeline_content cd_timeline_content_even">
									<h4>
										Good governance, the company developed rapidly, the establishment of investment immigration program
									</h4>
								</div>
							</div>
							<!--说明在左边-->
							<div class="cd_timeline_block">
								<div class="cd_timeline_img"><h3>2012</h3></div>
								<div class="cd_timeline_content">
									<h4>
										Bring forth the new through the old, the establishment of the first company has ours own overseas real estate development company
									</h4>
								</div>
							</div>
							<!--说明在右边-->
							<div class="cd_timeline_block">
								<div class="cd_timeline_img"><h3>2013</h3></div>
								<div class="cd_timeline_content cd_timeline_content_even">
									<h4>
										Strong settled in Shenzhen, China set up a domestic company, the official opening of the “Shenzhen Hyimmi Overseas Investment Consulting Ltd”, and then provide professional services to domestic customers
									</h4>
								</div>
							</div>
							<!--说明在左边-->
							<div class="cd_timeline_block">
								<div class="cd_timeline_img"><h3>2014</h3></div>
								<div class="cd_timeline_content">
									<h4>Exercise one’s inventive mind, the establishment of the "in-house" team of experts</h4>
								</div>
							</div>
							<!--说明在右边-->
							<div class="cd_timeline_block">
								<div class="cd_timeline_img"><h3>2015</h3></div>
								<div class="cd_timeline_content cd_timeline_content_even">
									<h4>Make a spurt of progress, the establishment of branch offices in Chengdu</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--发展历程结束-->
				
				<!--荣誉资质开始-->
				<div class="row honor">
					<div class="col-sm-12">
						<h3 class="culture_introduction_bt">Honor</h3>
						<!--<h6 class="culture_introduction_english">honor</h6>-->
					</div>
					<div class="col-sm-12 honor_certificate">
						<div class="row">
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_01_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_01.png"/>
								</a>
								<h5 class="text-center">Hungary fund Southern designated service provider certificate</h5>
							</div>
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_02_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_02.png"/>
								</a>
								<h5 class="text-center">Hyimmi has the honor to get Shenzhen University alumni Award</h5>
							</div>
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_03_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_03.png"/>
								</a>
								<h5 class="text-center">Southern China District immigration five star institutions</h5>
							</div>
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_04_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_04.png"/>
								</a>
								<h5 class="text-center">
									HYIMMI has been awarded “2015 Excellent Immigration Consultants Agency” 
								</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_05_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_05.png"/>
								</a>
								<h5 class="text-center">
									Guangdong exit and entry immigration member unit
								</h5>
							</div>
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_06_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_06.png"/>
								</a>
								<h5 class="text-center">
									Hyimmi has the honor to get 3-15 Integrity brand
								</h5>
							</div>
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_07_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_07.png"/>
								</a>
								<h5 class="text-center">
									Hyimmi has the honor to get Corporate integrity 4A certificate
								</h5>
							</div>
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_08_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_08.png"/>
								</a>
								<h5 class="text-center">
									Distinguished contribution award from the British immigration lawyers association
								</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_09_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_09.png"/>
								</a>
								<h5 class="text-center">Hyimmi has the honor to get 2014 excellent immigration consultant</h5>
							</div>
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_10_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_10.png"/>
								</a>
								<h5 class="text-center">Hyimmi has the honor to get quality service brand</h5>
							</div>
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_11_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_11.png"/>
								</a>
								<h5 class="text-center">Australian Victoria culture and Education Association award certificate</h5>
							</div>
							<div class="col-sm-3">
								<a href="javascript:void(0)" class="smallimage img-responsive" rel="http://oms8e6h6f.bkt.clouddn.com/about/png/credential480_12_big.png">
									<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/about/png/credential_13.png"/>
								</a>
								<h5 class="text-center">Hyimmi president join British immigration lawyers association</h5>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<!--荣誉资质结束-->
		</div>
		<!--公司简介结束-->	
		
		<!--联系我们开始-->
		<div class="about_us_content" style="display: none;">
			<!--地图开始-->
			<div class="container contact_us_map">
				<div class="col-sm-12">
					<img class="img-responsive center-block hidden-xs" src="http://oms8e6h6f.bkt.clouddn.com/about_e/png/pc_map_e.png"/>
					<img class="img-responsive center-block visible-xs" src="http://oms8e6h6f.bkt.clouddn.com/about_e/png/m_map_e.png"/>
				</div>
			</div>
			<!--地图结束-->
	<!--公司地址开始-->
      <div class="container company_address">
        <!--第一行地址开始-->
        <div class="row company_address_row_1">
          <div class="col-sm-6 company_address_4 company_address_sz">
            <ul>
              <li>
                <img class="img-responsive triangle_gray" src="http://oms8e6h6f.bkt.clouddn.com/about_us/png/triangle_gray.png" alt="" />
                <h4>Shenzhen Headquarters</h4>
              </li>
              <li>
                <h5>+Address: Rong Chao economic and Trade Center 4005-4006, 4028 Jintian Road, Shenzhen, Futian District</h5>
              </li>
              <li>
                <h5>+Phone Number: 0755-3301 5112</h5>
              </li>
              <li>
                <h5>+Email: enquiry@hyimmi.com</h5>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 company_address_4 company_address_sc">
            <ul>
              <li>
                <img class="img-responsive triangle_gray" src="http://oms8e6h6f.bkt.clouddn.com/about_us/png/triangle_gray.png" alt="" />
                <h4>Sichuan branch office</h4>
              </li>
              <li>
                <h5>+Address: Building 1 Room 2308, Chengdu international financial center (IFS), No. 3, Jinjiang District Red Star Street, Chengdu</h5>
              </li>
              <li>
                <h5>+Phone Number: 028-6631 2303</h5>
              </li>
              <li>
                <h5>+Email: enquiry@hyimmi.com</h5>
              </li>
            </ul>
          </div>
        </div>
        <!--第二行地址开始-->
        <div class="row company_address_row_1">
          <div class="col-sm-6 company_address_4">
            <ul>
              <li>
                <img class="img-responsive triangle_gray" src="http://oms8e6h6f.bkt.clouddn.com/about_us/png/triangle_gray.png" alt="" />
                <h4>Australian branch office</h4>
              </li>
              <li>
                <h5>+Address: 114 / 757 Bourke Street Docklands Vic 3008</h5>
              </li>
              <li>
                <h5>+Phone Number: +613 85392837</h5>
              </li>
              <li>
                <h5>+Email: enquiry@hyimmi.com</h5>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 company_address_4 company_address_fz">
            <ul>
              <li>
                <img class="img-responsive triangle_gray" src="http://oms8e6h6f.bkt.clouddn.com/about_us/png/triangle_gray.png" alt="" />
                <h4>Fuzhou branch office</h4>
              </li>
              <li>
                <h5>+Address:2101-2102 Shenglonghuijin Center, No.1 Guangming South Road, Taijiang District, Fuzhou, Fujian Province, China</h5>
              </li>
              <li>
                <h5>+Phone Number: +0591-83613981</h5>
              </li>
              <li>
                <h5>+Email: enquiry@hyimmi.com</h5>
              </li>
            </ul>
          </div>
        </div>
        <!--第三行地址开始-->
        <div class="row">
          <div class="col-sm-6 company_address_4 company_address_sz">
            <ul>
              <li>
                <img class="img-responsive triangle_gray" src="http://oms8e6h6f.bkt.clouddn.com/about_us/png/triangle_gray.png" alt="" />
                <h4>Branch office of Malaysia</h4>
              </li>
              <li>
                <h5>+Address: 2.36 Wisma Cosway, 88 Jalan Raja Chulan,50200 Kuala Lumpur</h5>
              </li>
              <li>
                <h5>+Phone Number: +601 23062336</h5>
              </li>
              <li>
                <h5>+Email: enquiry@hyimmi.com</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--公司地址结束-->
		</div>
		<!--联系我们结束-->
	</section>
	<!--关于我们结束-->
	
<script src="__PUBLIC__/home/js/about_us.js" type="text/javascript" charset="utf-8"></script>
   <script type="text/javascript">
//  轮播图
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,  //三个小点切换
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoplay : 3000,
				speed:300,
//				effect : 'fade',
        loop : true //循环
    });
   </script>    