
		
		            		<img class="img-responsive center-block hidden-xs" src="http://oms8e6h6f.bkt.clouddn.com/home_e/png/pcbanner_e_1705.png"/>
				            		</a>
						        </div>
						    </div>
						    <!-- 轮播（Carousel）导航 -->
						    <a class="carousel-control left" href="#myCarousel" 
						        data-slide="prev"><!--&lsaquo;-->
						    </a>
						    <a class="carousel-control right" href="#myCarousel" 
						        data-slide="next"><!--&rsaquo;-->
						    </a>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!--banner轮播图结束-->
		
		<!--热门话题开始-->
		<section class="hot_topic hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-sm-7"></div>
					<div class="col-sm-5 hot_topic_5">
						<h3>Hot Topic</h3>
						<ul>
							<li>
								<a href="{{:U('Index/project_details',array('tid'=>1,''))}}">
									<h4>Selected Projects</h4>
									<img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/home_e/png/arrows_right.png"/>
								</a>
							</li>
							<li>
								<a href="{{:U('Home/Index/countries_page',array('cid'=>1,''))}}">
									<h4>Selected Countries</h4>
									<img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/home_e/png/arrows_right.png"/>
								</a>
							</li>
							<li>
								<a href="{{:U('Index/project_selection')}}">
									<h4>Project Selection</h4>
									<img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/home_e/png/arrows_right.png"/>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--热门话题结束-->
		
		<!--热门文章开始-->
		<section class="h_essay">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 h_essay_concent">
						<!--<h4 class="m_title_t visible-xs">移民资讯</h4>-->
						<img class="img-responsive center-block hidden-xs" src="http://oms8e6h6f.bkt.clouddn.com/col_message/png/message_pcimg01.png"/>
						<img class="img-responsive center-block visible-xs" src="http://oms8e6h6f.bkt.clouddn.com/col_message/png/message_pcimg01.png"/>
						<!--<h5 class="m_title_b hidden-xs">移民资讯</h5>-->
						<a href="{{:U('Home/Index/countries_page',array('cid'=>1,''))}}">
							<h3 class="headline">AUSTRALIA</h3>
						</a>
						<h4 class="t_description">
							Australia is a highly developed capitalist country, the capital of Canberra.
							As the southern hemisphere’s most economically developed countries and the world’s twelfth big economic body、the world’s fourth largest exporter of agricultural products, 
							it is also a variety of mineral exports in the world, which is called “sitting on a tub of countries”.
						</h4>
						<!--<a href="#">
							<h5 class="more">阅读更多 ></h5>
						</a>-->
					</div>
					<div class="col-sm-4 side">
						<h3 class="side_title">MOST CONCERN</h3>
						<ul>
							<volist name="hot" id="v">
							<li>
								<a href="{{:U('Index/project_details',array('tid'=>$v['tid'],''))}}">
									<!--<img class="img-responsive" src="images/flower.png"/>-->
									<h4>
										{{$v.name}}
									</h4>
								</a>
							</li>
							</volist>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--热门文章结束-->
		
		<!--热门国家开始-->
		<section class="hot_state">
			<div class="container">
				<div class="row">
					<h3 class="text-center hot_state_bt">HOT COUNTRIES</h3>
					<img class="img-responsive center-block downward" src="http://oms8e6h6f.bkt.clouddn.com/home//png/v.png"/>
				</div>
				<div class="row nation_row">
					<div class="col-sm-3 nation_li">
						<a href="{{:U('Home/Index/countries_page',array('cid'=>1,''))}}">
							<img class="img-responsive center-block country_show img-circle" src="http://oms8e6h6f.bkt.clouddn.com/home/png/state_australian.png"/>
						</a>
						<a href="{{:U('Home/Index/countries_page',array('cid'=>1,''))}}">
							<h2 class="country_name text-center">Australia</h2>
						</a>
							<h5 class="text-center country_profile">
								Explore new Australian Secret with us
							</h5>	
					</div>
					<div class="col-sm-3 nation_li">
						<a href="{{:U('Home/Index/countries_page',array('cid'=>2,''))}}">
							<img class="img-responsive center-block country_show img-circle" src="http://oms8e6h6f.bkt.clouddn.com/home/png/state_new%20zealand.png"/>
						</a>
						<a href="{{:U('Home/Index/countries_page',array('cid'=>2,''))}}">
							<h2 class="country_name text-center">New Zealand</h2>
						</a>
							<h5 class="text-center country_profile">
								Immigrants do not mean emigrate,'The last piece of pure land'in the world
							</h5>	
					</div>
					<div class="col-sm-3 nation_li">
						<a href="{{:U('Home/Index/countries_page',array('cid'=>4,''))}}">
							<img class="img-responsive center-block country_show img-circle" src="http://oms8e6h6f.bkt.clouddn.com/home/png/state_canada.png"/>
						</a>
						<a href="{{:U('Home/Index/countries_page',array('cid'=>4,''))}}">
							<h2 class="country_name text-center">Canada</h2>
						</a>
							<h5 class="text-center country_profile">
								A worthy unlimited exploration of country
							</h5>	
					</div>
					<div class="col-sm-3 nation_li">
						<a href="{{:U('Home/Index/countries_page',array('cid'=>7,''))}}">
							<img class="img-responsive center-block country_show img-circle" src="http://oms8e6h6f.bkt.clouddn.com/home/png/state_spain.png"/>
						</a>
						<a href="{{:U('Home/Index/countries_page',array('cid'=>7,''))}}">
							<h2 class="country_name text-center">Spain</h2>
						</a>
							<h5 class="text-center country_profile">
								 One person invest， three generation will get European Union Identity
							</h5>	
					</div>
				</div>
			</div>
		</section>
		<!--热门国家结束-->
				
		<!--热门项目开始-->
		<section class="popular_project">
			<div class="container">
				<div class="row item_title">
					<h3 class="text-center popular_project_bt">HOT PROJECTS</h3>
					<img class="img-responsive center-block downward" src="http://oms8e6h6f.bkt.clouddn.com/home//png/v.png"/>
				</div>
				<div class="row show_items">
					<div class="col-sm-4 item_sm_4">
						<a href="{{:U('Home/Index/project_details',array('tid'=>12))}}">
							<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/home/png/project_zelanian.png"/>
							<h2 class="text-center">
								New Zealand Investor 2 Resident Visa
							</h2>
						</a>
					</div>
					<div class="col-sm-4 item_sm_4">
						<a href="{{:U('Home/Index/project_details',array('tid'=>9))}}">
							<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/home/png/project_australia_188A.png"/>
							<h2 class="text-center">
								Australia Business Innovation and Investment-Subclass 188A
							</h2>
						</a>
					</div>
					<div class="col-sm-4 item_sm_4">
						<a href="{{:U('Home/Index/project_details',array('tid'=>10))}}">
							<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/home/png/project_australia_132.png"/>
							<h2 class="text-center">
								Australia Business Talent Visa-Subclass 132
							</h2>
						</a>
					</div>
				</div>
				<div class="row show_items hidden-xs">
					<div class="col-sm-4 item_sm_4">
						<a href="{{:U('Home/Index/project_details',array('tid'=>27))}}">
							<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/home/png/project_spain.png"/>
							<h2 class="text-center">
								Spain Investment Immigrant
							</h2>
						</a>
					</div>
					<div class="col-sm-4 item_sm_4">
						<a href="{{:U('Home/Index/project_details',array('tid'=>31))}}">
							<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/home/png/project_malta.png"/>
							<h2 class="text-center">
							    Malta State Debt Immigration Program
							</h2>
						</a>
					</div>
					<div class="col-sm-4 item_sm_4">
						<a href="{{:U('Home/Index/project_details',array('tid'=>60))}}">
							<img class="img-responsive center-block" src="http://oms8e6h6f.bkt.clouddn.com/home/png/project_canada.png"/>
							<h2 class="text-center">
								Canada Manitoba Provincial Nominee Program for Business 
							</h2>
						</a>
					</div>
				</div>
				<!--pc端跳转到甄选项目页-->
				<div class="row hidden-xs">
					<a href="{{:U('Index/project_selection')}}" class="text-center">
						<h4 class="more_project">MORE  ></h4>
					</a>					
				</div>
				<!--移动端跳转到更多国家页-->
				<div class="row visible-xs">
					<a href="{{:U('Index/more_project')}}" class="text-center">
						<h4 class="more_project">MORE  ></h4>
					</a>					
				</div>
			</div>
		</section>
		<!--热门项目结束-->
		
		 <script type="text/javascript">
//  轮播图
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,  //三个小点切换
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoplay : 3000,
				speed:300,
//				effect : 'fade',
        loop : true //循环
    });
    //  pc轮播图
    $('#myCarousel').carousel({
				interval: 5000
			})
    $('#myCarousel_client').carousel({
				interval: 5000
			})
    </script>
